*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body{
    font-family: Montserrat, 'sans-serif';
}

#logo{
    height: 24px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.2em 4em;
    border-bottom: 1px solid rgb(245, 240, 240);
    align-items: center;
}

#icons, #links{
    display: flex;
}

#icons{
    gap: 0.7rem;
}

#links{
    gap: 2rem;
}

#content{
    /*border: 2px solid red;*/
    margin: 20px auto;
    text-align: center;
    padding: 5rem 0;
    width: 50%;
}

#container{
    border: 2px solid rgb(245, 240, 240);
    border-radius: 5%;
    width: 50%;
    margin: 0 auto 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}